* {
    margin: 0;
    padding: 0;
    flex: 1;
}

.sec1{
    display:flex;
    color: #ffffff;
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    flex-direction: column;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

.subcontainer1{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 35px;
}

h1{
    display: flex;
    font-size: 60px;
    margin-bottom: 20px;
}

.subcontainer2{
    display: flex;
    flex-direction: column;
}

.part1, .part2{
    font-size: 20px;
    display: flex;
}

.part2{
    text-align: center;
    width: 100px;
    height: 30px;
    padding: 2.5% 8%;
    border-radius: 15px;
    background-color: #3b82f6;
    color: white;
    margin-top: 5px;
}

.container2{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    gap: 150px;
}

.img1{
    display: flex
}

h3 {
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.container3 {
    display:flex;
    padding: 0px 250px;
    gap: 25px;
    justify-content: space-between;
    margin-bottom: 150px;
}

.container3 img{
    display: flex;
    max-width: 150px;
    height: auto;
    border-radius: 40px;
    border: 10px solid black;
}

.sec2{
    background-color: #e5e7eb;
    align-items: center;
    padding: 60px 300px;
}

p1{
    font-size: 40px;
}

.footnote{
    display: flex;
    font-size: 25px;
    text-align: end;
}

.sec3{
    display: flex;
    background-color: #3b82f6;
    color: white;
    margin: 50px 200px;
    padding: 30px 100px;
    flex-direction: row;
    border-radius: 15px;
}

p.notation{
    font-size: 20px;
}

div.notation{
    display: flex;
    font-size: 15px;
}

.container5{
    display: flex;
    margin-left: 125px;
    padding-top: 14px;
    font-size: 20px;
    justify-content: center;
    border: 2px solid white;
    border-radius: 15px;
}


